$black-normal: #141516;
$black-light: #242526;
$black-dark: #050607;

$white-normal: #EEF0F0;
$white-light: #F5F7F7;
$white-dark: #E6E8E8;

$yellow-normal: #FFE509;
$yellow-light: #FFEF28;
$yellow-dark: #E7D304;

$gray-1: #777;

.color-gray {
    color: $gray-1;
}