h1, h2, h3, h4, h5, h6, a{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: $white-light;
    font-weight: 400;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.link {
    padding: 8px 24px;
    font-size: 24px;

    transition: .5s ease;
    
    position: relative;
    
    &::after {
        content: '';
        display: block;
        
        position: absolute;
        top: 100%;
        left: 0;
        
        width: 0%;
        height: 2px;
        
        transform: translate(20%, -50%);
        transition: .5s ease;
        
        background-color: $white-normal;
    }

    &:hover {
        cursor: pointer;
        opacity: .8;

        &::after {
            width: 70%;
        }
    }
}

h1 {
    font-size: 72px;
    line-height: 100%;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 56px;
    }
    .container h2 {
        font-size: 40px;
    }
}

h2 {
    font-size: 56px;
    line-height: 110%;
}

h3 {
    font-size: 40px;
    line-height: 110%;
}

h4 {
    font-size: 32px;
    line-height: 120%;
}

h5 {
    font-size: 24px;
    line-height: 130%;
}

h6 {
    font-size: 18px;
    line-height: 140%;
}

.mask{
    background: linear-gradient(94.61deg, #FFE509 4.21%, #FEEA43 66.85%, #FFF6AE 106.12%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.container-item .square {
    display: block;
    margin-top: 64px;

    font-size: 24px;

    padding: 16px 24px;
    z-index: 2;

    &::after {
        content: '';
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;

        width: 110px;        
        height: 110px;   

        transform: translate(-0%, -20%) rotate(-45deg);
        transition: .5s ease;

        border-radius: 2px;

        border: 2px solid;
        
        border-image: 
            linear-gradient(
             rgba(255, 229, 9, 0.59) 0.09%,
             rgba(255, 229, 9, 0.0649) 93.82%)
             1;
        background: rgba(255, 229, 9, 0.11);

    }

    &:hover {
        &::after {
            transform: translate(-0%, -20%) rotate(-30deg);
        }
    }
}

@media screen and (max-width: 600px) {
    .container-item .square {
        &::after {
            width: 90px;        
            height: 90px;  
            transform: translate(10%, -10%) rotate(-45deg);
        }
    }
}
